@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --gradient: linear-gradient(95deg, #75002a 11.19%, #002b9a 93.72%);
  --blue: #002b9a;
  --red: #75002a;
  --plyr-color-main: #ff005d;
  --plyr-menu-background: var(--blue);
}

html {
  background: var(--gradient);
}

html,
body {
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  cursor: default;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

