@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --gradient: linear-gradient(95deg, #75002a 11.19%, #002b9a 93.72%);
  --bcg-modal: linear-gradient(180deg, #3a0015, #00123e);
  --black-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  --blue: #002b9a;
  --red: #75002a;
  --plyr-color-main: #ff005d;
  --plyr-menu-background: var(--blue);
}

html {
  background: var(--gradient);
}

body {
  align-items: center;
}

body,
.wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.wrapper {
  width: 90%;
}

html,
body {
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #fff;
  font-size: 24px;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  cursor: default;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.body_ hide {
  opacity: 0;
  transition: 0.3s opacity ease-in-out;
}

.body_visible {
  opacity: 1;
}

.wrapper {
  padding: 0px 3.5vh;
}

.container {
  z-index: 0;
  display: flex;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.row {
  flex-flow: row;
}

.col {
  flex-flow: column;
}

.flex {
  display: flex;
}

.div {
  z-index: 0;
  padding: 2vh 3vh;
  border-radius: 0.8vh;
}

.player {
  margin-top: 2vh;
  border-radius: 0.5vh;
}

.div--1 {
  border-bottom: 0.5vh solid #ff1c6d;
  border-left: 0.5vh solid #ff1c6d;
}

.div--2 {
  padding-top: 1.6vh;
  border-top: 0.5vh solid #ff1c6d;
  border-right: 0.5vh solid #ff1c6d;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  background: var(--black-gradient);
  padding: 0px 0px;
  margin-bottom: 2vh;
  width: 100%;
}

.logo {
  height: 6vw;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wcenter {
  width: 100%;
}

span {
  font-weight: 500;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

p,
.p {
  color: rgba(255, 255, 255, 0.8);
}

.textleft {
  text-align: left;
}

.mt3vh {
  margin-top: 3vh;
}

.divb {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.margincenter {
  margin-right: 2vh;
}

h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5em;
  text-align: left !important;
}

h3 {
  color: #fff;
}

a {
  color: #fff;
}

a.button {
  padding: 2vh 4vh;
  font-weight: 500;
  border-radius: 12px;
  background: var(--gradient);
  cursor: pointer;
}

.bottomgr {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 1) 80%
  );
}

.martop2vh {
  margin-top: 2vh;
}

.primer {
  width: 30%;
}

.nobrr {
  border-radius: 1vh 0vh 0vh 1vh;
}

.nobrl {
  border-radius: 0vh 1vh 1vh 0vh;
}

#taskinfo {
  text-align: left;
  margin: 1vh 0.5vw 2vh;
}

.modal p,
.modal h2,
.modal a {
  color: black;
}
