@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@viewport {
  width: device-width;
    zoom: 1;
    min-zoom: 0.5;
    max-zoom: 3;
    user-zoom: fixed;
}

.body_hide {
	opacity: 0;
	transition: .9s opacity ease-in-out;
}
.body_visible {
	opacity: 1;
}

img.background {
  min-height: 100%;
  min-width: 640px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 50%;
}

body {
  overflow-x: hidden;
  display: flex;
  
  background: linear-gradient(to top right, #66006b, #00296b);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  height: 100vh;
  max-height: 100%;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 0 0;
  align-items: center;
  justify-content: center;
  cursor: default;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  font-weight: 600;
  line-height: 30px;
}

.container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column;
  width: 70%;
  max-width: 900px;
}

.logo {
  width: 400px;
  max-width: 80%;
  text-shadow: #fff;
  transition: .1s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo:hover {
  transform: scale(1.1);
}

span {
  font-size: 1.5em;
  font-weight: 900;
}

span.p {
  color: #cc0074;
}

span.o {
  color: #ff2f00;
}